#box-menu {
 /* background-color: rgba(255, 255, 255, 0.3); */
 background-color: rgba(132,142,181, 0.3);
 font-family: sans-serif;
 text-align: center;
 display: inline-table;
 justify-content: center;
 text-align:center;
 line-height: 1;
 -webkit-backdrop-filter: blur(0.20px);
 backdrop-filter: blur(0.20px);
 max-width: 100%;
 max-height: 100%;
 padding: 100px 200px;
 font-style: normal; 

}

#box-menu i {
 font-size:60px;
 color:rgb(255, 255, 255);
 text-shadow:2px 2px 4px #000000;
 font-size:80px;
 margin: 30px;
 display: inline;
 justify-content:center;
 text-align:center;
}

body {
 background-color:#0A0A34;
 color:rgba(240, 248, 255, 0.955);
 text-align:center;
 height: 50%;
 width: 100%;
}
h1 {
 font-size: 6em;
 /* font-size: 70px; */
}
#box {
 background-image: url("../image/background-home.png");
 position: relative;
 display: inline-table;
 justify-content: center;
 background-size: cover;
 align-items: center;
 height: 100%;
 width: 100%; 
 display: flex;
 flex-direction: column;
 background-repeat: no-repeat;
 align-items: center;
 /* background-repeat: no-repeat;

 background-position: center;
 */
}
#box ul li {
 display: inline;
}

#box ul li a { 
 text-decoration: none;/
 color:rgba(240, 248, 255, 0.955);
}

.section {
 font-size: 24px;
 margin: 20px 20px 20px 20px;
 padding: 10px 10px 10px 10px;
}

.perfil{
 display: flex;
 align-items: center;
}
.perfil img {
 width: 300px;
 height: 300px;
 border-radius: 15px;
 align-items: center;
 /* margin-right: 200px; */
 /* margin-left: 50px; */
}

.perfil p {
 text-align: justify;
 font-size: 0.7em;
 padding: 20px 20px 20px 20px;
 margin: 10px 10px 10px 10px;
}

#phone-map {
 display:inline-flex ;
 justify-content: center;
 align-items: center;
 text-align: left;
 margin-top: 50px;
}

.portfolio {
 display: inline-flex;
 justify-content: center;

}

.map-responsive{
    overflow:hidden;
    height: 200%;
}

.map-responsive iframe{
    left:0;
    top:0;
}

#contato ul {
 margin-top: 90px;
}
#contato ul i{
 text-decoration: none;
 font-size:40px;
 padding: 5px 5px 5px 5px;
 margin: 10px 10px 10px 10px;
 color:rgba(240, 248, 255, 0.955);
}

.footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.5em;
    }